@import '../../../variables.scss';

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: 1px solid black;
}

.hotelInfo{
    max-width: 200px;
    text-align: center;
}

.viewDetails{
    @media only screen and (max-width: $tablet) {
        display: none;
    }   
}