@import '../../../variables.scss';

//now very messy, todo clean up styles 


.fieldset {
   padding: 16px;
   display: flex;
   align-items: center;
   & >.field{
      margin-right: 16px;
   }
   @media only screen and (max-width: $tablet) {
      & >.field{
         margin-right: 0;
      }
      flex-direction: column;
   }  
}

.field {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-bottom: 16px;
   position: relative;
   input {
      border-radius: 8px;
      height: 32px;
      border: 1px solid black;
   }
}

.row {
   display: flex;
   justify-content: space-between;
   width: 100%;
   & >.field{
      margin-right: 16px;
   }
   @media only screen and (max-width: $tablet) {
      & >.field {
         max-width: 40%;
         margin: 0;
      }
   }  
  
}

.searchBtn {
   background: magenta;
   border: 1px solid black;
   border-radius: 8px;
   padding: 8px;
   color: white;
   text-transform: uppercase;
}

.error {
   color: red;
   position: absolute;
   white-space: nowrap;
   bottom: -40px;
}