
.root {
    display: flex;
}

.starIcon {
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-image: url('./assets/star.svg');
}

.disabled {
    opacity: 0.5;
    filter: grayscale(50%);
}