@import '../../../variables.scss';

.root {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.logoImg {
    border-radius: 50%;
}

.logoText {
    font-size: $font-h1;
    margin-left: 16px;
}

.navList{
    display: flex;
    
    @media only screen and (max-width: $tablet) {
            display: none;
    }
}

.navListLink {
    display: block;
    height: 32px;
    padding: 12px 8px;
    background-color: $gray;
   
}

.navListItem:not(:last-child){
    margin-right: 16px;
}