@import '../../../variables.scss';
.root {
   
}

// copypasted style, todo make btn component
.toggleFilterBtn{
    display: none;
    background: magenta;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    color: white;
    text-transform: uppercase;
    margin: 16px auto;
    cursor: pointer;
    
    @media only screen and (max-width: $tablet) {
        display: block;
    }   
}

.container {
    display: flex;
}

.sidebar {
    flex-basis: 320px;
    border: 1px solid black;
    padding: 16px;
    background: white;
    @media only screen and (max-width: $tablet) {
        position: absolute;
        width: 100%;
        height: 100vh;
        will-change: transform;
        transition: transform 0.8s ease-out;
        transform: translate3d(0, -200vh, 0);
    }   
}

.animateSb {
    transform: translate3d(0, 0, 0);
}


.list {
    
    max-height: calc(100vh - 200px);
    overflow-y: auto;

    padding: 16px;
    flex-grow: 1;
    border: 1px solid black;
    margin-left: 16px;
    > * {
        margin-bottom: 16px;
    }
}
